button {
	background: none;
	appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	border: none;
	cursor: pointer;
}

.btn {
	background: $main-color;
	font-size: 15px;
	line-height: 32px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #ffffff;
	border: none;

	&:hover {
		background: rgba($color: $main-color, $alpha: 0.6);
		transition: 0.5s all;
	}
}

.btn_normal {
	width: 130px;
	height: 38px;
}

.btn_normal::after {
	content: "";
	width: 8px;
	height: 8px;
	display: inline-block;
	background: url('../img/header/triangle.png') no-repeat;
	margin-left: 5px;
}

.btn_white {
	width: 180px;
	height: 50px;
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #4a4a4a;
	margin-bottom: 79px;
}

.btn_noborder {
	width: 180px;
	height: 50px;
	background-color: #ffffff;
	border: 0px solid #eaeaea;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #222222;
}

.btn__menu {
	display: block;
	width: 66px;
	background-color: #ffffff;
	border: 1px solid #ebebeb;

	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #6f6e6e;
}

.btn_product {
	width: 150px;
	height: 44px;
	background-color: #ffffff;
	border: 1px solid #ef5b70;
	border-radius: 3px;

	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
	color: #ef5b70;
}